* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.navigation {
  padding: 20px 0;
  background-color: rgb(32, 32, 61);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navigation ul {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
}

a::before {
  content: "> ";
}

a::after {
  content: " <";
}

.container {
  padding: 0 5px;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.container .show {
  display: flex;
  font-size: 150px;
  filter: blur(5px);
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
  background-color: bisque;
  transition: 0.3s all ease;
  transition-delay: 0.2s;
}

.images {
  width: 200px;
  transition: 0.3s all ease;
  transition-delay: 0.2s;
}

.container .show:hover {
  background-color: aliceblue;
  filter: blur(0);
  /* visibility: hidden; */
  font-size: 400px;
  flex: 3;
  .images {
    width: 400px;
  }
}

footer {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(32, 32, 61);
  color: white;
}
